/*-------------------------*\
    #STYLE.CSS
\*-------------------------*/

/* Copyright Darkyanis 2024 */

/*-------------------------*\
    #GOOGLE FONT LINK
\*-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;600;700;&display=swap');

/*-------------------------*\
    #CSS VARIABLES
\*-------------------------*/

:root {

    --header-height: 3rem;
    --font-semi: 600;

    /* COLORS */

    --first-color: #d61313;
    --second-color: #fff;

    /* TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    /* MARGINS */

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* Z-INDEX */

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/*-------------------------*\
    #RESET
\*-------------------------*/

*,
::before,
::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
    background-color: #000;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

h1,
h2,
p { margin: 0; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a { text-decoration: none; }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*-------------------------*\
    #REUSED STYLE
\*-------------------------*/

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*-------------------------*\
    #LAYOUT
\*-------------------------*/

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*-------------------------*\
    #NAVBAR
\*-------------------------*/

.header { background-color: var(--first-color); }

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}


@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }    
}

.nav_item { margin-bottom: var(--mb-4); }

.nav_link {
    position: relative;
    color: #fff;
}

.nav_link:hover { position: relative; }

.nav_link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #fff;
}

.nav_toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Active Menu */

.active::after {    
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
}

/* Show Menu */

.show { right: 0; }

/* light/dark mode */

#toggleTheme {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--text-color);
}

#toggleTheme .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--background-color);
    border-radius: 50%; /* Rendre la lumière ronde */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Créer un effet de lumière */
    margin-right: 0.5rem;
}


/*-------------------------*\
    #HOME
\*-------------------------*/

.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data { align-self: center; }

.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home_title-color { color: var(--first-color); }

.home_social {
    display: flex;
    flex-direction: column;
}

.home_social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: gray;
}

.home_social-icon:hover { color: var(--first-color); }

.home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/* BUTTONS */

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*-------------------------*\
    #ABOUT
\*-------------------------*/

.about_container {
    row-gap: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_subtitle { margin-bottom: var(--mb-2); }

.about_img { justify-self: center; }

.about_img img{
    width: 200px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/*-------------------------*\
    #WORK
\*-------------------------*/

.work { text-align: center; }

.work_container { row-gap: 2rem; }

.work_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
}

.work_img img {
    transition: 1s;
    cursor: pointer;
}

.work_img img:hover { transform: scale(1.1); }

/*-------------------------*\
    #CONTACT
\*-------------------------*/

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel {
    display: inline-block;
    text-decoration: none;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
    align-items: center;
    border: none;
    margin: 3px;
    cursor: pointer;
    font-size: var(--normal-font-size);
}

.tel:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}


/*-------------------------*\
    #FOOTER
\*-------------------------*/

.footer {
    background-color: var(--first-color);
    color: #000;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 0 2rem;
}

.footer_title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer_social { margin-bottom: var(--mb-4); }

.footer_icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

/*-------------------------*\
    #MEDIA QUERIES
\*-------------------------*/

@media screen and (min-width: 768px) {
    body { margin: 0; }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title { margin-bottom: var(--mb-6); }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav { height: calc(var(--header-height) + 1rem); }

    .nav_list {
        display: flex;
        padding-top: 0;
    }

    .nav_item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav_toggle { display: none; }

    .nav_link { color: var(--second-color); }

    .home { height: 100vh; }

    .home_data { align-self: flex-end; }

    .home_social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home_social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home_img {
        width: 457px;
        bottom: 15px;
    }

    /* Updated grid layout for larger screens */
    .about_container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Ensure two columns */
        gap: 2rem; /* Space between columns */
        align-items: center;
        text-align: initial;
    }

    .about_img img {
        height: 300px;
        width: 300px;
        border-radius: 0.5rem;
    }

    .skills_container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Ensure two columns */
        gap: 2rem; /* Space between columns */
        text-align: initial;
    }

    .skills_img {
        width: 100%; /* Adjust as needed */
        border-radius: 0.5rem;
    }

    .work_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 2rem; /* Added for spacing */
    }

    .contact_form { width: 360px; }

    .contact_container { justify-items: center; }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home_img {
        right: 10%;
    }
}
